<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
	    <title>Getting</title>
	    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content=""> -->

	    <link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap/css/bootstrap-responsive.css") }}">
	    <link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap/css/bootstrap.css") }}">

	    <script type="text/javascript" src="{{ static_url("bootstrap/js/bootstrp.js") }}"></script>

	</head>

	<body>
		<h1>{{ title }}</h1>
	</body>

</html>